*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
                                                    /* Start Top Nav */
.topBar{
    margin-left: 100px;
}
.topBar a,.topBar i{
    color: #CFD6D6;
    text-decoration: none;
    padding-right: 10px;
    font-size: 12px;
}
.topNav{
    width: 100%;
    height: 40px;
    background-color: #212934;
    display: flex;
    align-items: center;
}
.topBarIcons{
    margin-left: 57vw;
}
.topBarIcons a{
    padding-right: 10px;
    color: #EFEFEF;
}
                                                    /* Close Top Nav */

                                                    /* Start Header */
.header{
    /* background-color: rgb(133, 41, 41); */
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.884);
}
.navLogo{
    font-family: 'Roboto', sans-serif;
    color: #59AB6E;
    font-size: 43px;
    cursor: pointer;
    padding-left: 91px;
    padding-right: 150px;
}
.navPages ul{
    display: flex;
}
.navPages ul li, .firstCardFeaturedProduct ul li, .secondCardFeaturedProduct ul li, .thirdCardFeaturedProduct ul li{
    list-style: none;
}
.navPages ul li a{
    text-decoration: none;
    color: #212934;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 200;
    padding-right: 137px;
}
.navIcons i{
    color: black;
    font-weight: 300;
    font-size: 22px;
}
.navIcons span{
    color: black;
    font-weight: 900;
    font-size: 12px;
    position: relative;
    top: -12px;
    left: -15px;
    background-color: #EFEFEF;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    display: inline-block;
    padding: 4px 2px 2px 2px;
}
                                                    /* Close Header */
                                                    /* Start Banner */
.Banner{
    width: 100%;
    height: 620px;
    background-color: #efefef;
}

                                                    /* End Banner */
                                          /* Start Categories of The Month */
.categoriesLabel, .featuredLabel{
    width: 462px;
    padding-top: 86px;
    margin-left: 440px;
    text-align: center;
}
.categoriesLabel h1, .featuredLabel h1{
    font-size: 56px;
    font-weight: 300;
}
.categoriesLabel p, .featuredLabel p{
    font-size: 19px;
    font-weight: 200;
    margin-top: 20px;
    line-height: 26px;
}
.categoriesCard{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.categoriesCard img{
    width: 280px;
    height: 280px;
    border-radius: 50%;
}
.categoriesCard p{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
}
.categoriesCard button{
    margin-top: 20px;
    margin-bottom: 80px;
    background-color: #59ab6e;
    border-color: #59ab6e;
    border-style: none;
    padding: 0.375rem 0.75rem;
    color: white;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
}
.categoriesCard button:hover{
    color: efefef;
}
                                          /* End Categories of The Month */
                                            /* Start Featured Section */

.featuredSection{
    background-color: #E9EEF5;
    width: 100%;
    height: 160vh;
}
.featuredProductcards{
    display: flex;
    justify-content: space-between;
    /* margin: 40px 110px 0px 110px; */
    margin-left: 110px;
    margin-top: 30px;
    
}
.featuredProductcards img{
    width: 363px;
    height: 265px;
    border-radius: 3px;
}
.firstCardFeaturedProduct, .secondCardFeaturedProduct, .thirdCardFeaturedProduct{
    border: 1px solid rgba(0, 0, 0, 0.116);
    border-radius: 4px;
    margin-right: 20px;
    background-color: white;
}
.text-warning{
    color: #EDE861;
}
.text-muted{
    color: #BCBCBC;
}
.featuredProductPrice{
    color: #BCBCBC;
}
.navPages ul, .firstCardFeaturedProduct ul, .secondCardFeaturedProduct ul, .thirdCardFeaturedProduct ul{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 30px 10px;
 
}
.firstCardFeaturedProduct a, .secondCardFeaturedProduct a, .thirdCardFeaturedProduct a{
    color: rgba(0, 0, 0, 0.712);
    text-decoration: none;
    font-size: 28px;
    font-weight: 400;
    padding-left: 10px;
}
.firstCardFeaturedProduct p, .secondCardFeaturedProduct p, .thirdCardFeaturedProduct p{
    text-align: justify;
    width: 25vw;
    padding: 3px 0px 30px 12px;
    font-weight: 400;
    line-height: 20px;
}
.featuredProductReview{
    color: #BCBCBC;
    font-weight: bolder;
}
                                            /* Start Featured Section */
/* Start footer */
footer{
    background-color: #212934;
    width: 100%;
    height: 85vh;
}
.footerContent{
    display: flex;
    /* margin-left: 120px; */
    padding-top: 40px;
    justify-content: space-evenly#2d343f;
}
.footerShopContent{
    margin-left: 120px;
    margin-right: 150px;
}
.footerProductContent{
    margin-right: 210px;
}
.footerShopContent ul li, .footerProductContent ul li, .footerFurtherContent ul li, .socialLinks ul li{
    list-style: none;
    color: #EFEFEF;
}
.footerShopContent ul li a, .footerProductContent ul li a, .footerFurtherContent ul li a{
    text-decoration: none;
    color: #BCBCBC;
    font-size: 18px;
    line-height: 33px;
    font-weight: 300;
}
.footerShopContent ul li a:hover, .footerProductContent ul li a:hover, .footerFurtherContent ul li a:hover{
    color: #59ab6e;
}
.footerShopContent h2, .footerProductContent h2, .footerFurtherContent h2{
    font-size: 32px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    font-weight: 300;
    color: #BCBCBC;
    border-bottom: 0.5px solid #dee2e686
}
.footerShopContent h2{
    color: #59ab6e;
}
.socialLinks ul{
    display: flex;
    margin-left: 40px;
    margin-right: 10px;
}
.socialLinks ul li a{
    border: 0.5px solid #474849;
    color: #cfd6e1;
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
}
.socialLinks ul li a:hover{
    background-color: #cfd6e1;
    color: #474849;
}
.navlinks{
    height: 100px;
    border-top: 1px solid #474849;
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: space-between;
    padding-right: 85px;
    margin-top: 20px;
}

.navsearch{
    display: flex;
    align-items: center;
}
.navsearch input{
    padding: 10px;
    background-color: #212934;
    border: 1px solid #474849 !important; 
    border-radius: 2px;
    border-style: none;
    color: #59AB6E;
}
.navsearch input:focus{
    outline-color: #59ab6e;
    outline-style: solid;
}
/* Subscribe button */
/* .wrapper{
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  button{
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    margin-left: 0px;
    padding: 10px;
    background-color: #59ab6e;
    color: #EFEFEF;
    font-weight: 400;
    font-size: 16px;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
    transition: all .35s;
  }
  button.clicked{
    background-color: #EFEFEF;
}
  button:hover{
    background: #8C82FC;
    color: #fff;
  }
  
  button span{
    opacity: 1;
    visibility: visible;
    transition: all .35s;
  }
  
  .success{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all .35s;
  }
  
  .success svg{
    width: 20px;
    height: 20px;
    fill: yellowgreen;
    transform-origin: 50% 50%;
    transform: translateY(-50%) rotate(0deg) scale(0);
    transition: all .35s;
  }
  
  button.is_active{
    width: 40px;
    height: 40px;
  }
  
  button.is_active .success{
    opacity: 1;
    visibility: visible;
  }
  
  button.is_active .success svg{
    margin-top: 50%;
    transform: translateY(-50%) rotate(720deg) scale(1);
  }
  
  button.is_active span{
    opacity: 0;
    visibility: hidden;
  } */
  .wrapper{
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .subscribe-btn{
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    margin-left: 0px;
    padding: 10px;
    background-color: #59ab6e;
    color: #EFEFEF;
    font-weight: 400;
    font-size: 16px;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
    transition: all .35s;
  }
  .subscribe-btn.clicked{
    background-color: #EFEFEF;
}
.subscribe-btn:hover{
    background: #8C82FC;
    color: #fff;
  }
  
  .subscribe-btn span{
    opacity: 1;
    visibility: visible;
    transition: all .35s;
  }
  
.success{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all .35s;
  }
  
  .success svg{
    width: 20px;
    height: 20px;
    fill: yellowgreen;
    transform-origin: 50% 50%;
    transform: translateY(-50%) rotate(0deg) scale(0);
    transition: all .35s;
  }
  
  .subscribe-btn.is_active{
    width: 40px;
    height: 40px;
  }
  
  .subscribe-btn.is_active .success{
    opacity: 1;
    visibility: visible;
  }
  
  .subscribe-btn.is_active .success svg{
    margin-top: 50%;
    transform: translateY(-50%) rotate(720deg) scale(1);
  }
  
  .subscribe-btn.is_active span{
    opacity: 0;
    visibility: hidden;
  }
  /* end Subscribe button */

                                                  /* End footer */
                                            /* Start Copyright Section */
.copyrightSection{
    background-color: #1D242D;
    width: 100%;
    height: 10vh;
}
.copyrightSection P{
    color: #BCBCBC;
    font-size: 18px;
    font-weight: 300;
    padding-top: 21px;
    text-align: center;
}
.copyrightSection a{
    color: #59ab6e;
}
.copyrightSection a:hover{
    font-weight: 600;
}

/* End Copyright Section */
